<%- include('parts/head') %>
<%- include('parts/nav') %>
<div class="container text-center" style="margin-top: 30px;text-align: center;">
    <div class="row" style="text-align: center;">
        <div class="col col-sm-12">
                    <h3>All Quzies</h3>
                    <% if(quizes.length === 0){ %>
                        <p class="alert danger">
                            There is no quizes
                        </p>
                    <% } else { %>
                        <table  class="table table-bordered">
                            <thead class="text-center pl-10">
                                <td>no</td> 
                                <td>Quiz name</td>
                                <td>View quiz</td>
                                <td>Remove quiz</td>
                            </thead>
                            <tbody class="text-center pl-10">
                                <% for(let i = 0 ; i < quizes.length ; i++){ %>
                                    <tr>
                                        <td> <%= i+1 %> </td>
                                        <td> <%= quizes[i].quizname %></td>
                                        <td> <a href='/quizes/admin/<%= quizes[i].quizname %>'> <button class="btn btn-primary">View quiz</button> </a> </td> 
                                        <td> <a href='/admin/mangmentquiz/<%= quizes[i]._id %>'> <button onclick="fun()" class="btn btn-danger">Remove quiz</button> </a> </td>                                                                   
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    <% } %>
            </div>
        </div>
    </div>
<%- include('parts/footer') %>